<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
{% include 'navbar.html' %}
<style>
    .obshi {
    background: white;
    border-radius: 8px;
    padding: 2em;
    padding-bottom: 1em;
    box-shadow: 1px 1px 4px 1px rgb(112, 112, 112);
    margin-bottom: 2em;
    margin-top: 1vw;
    margin-right: 13%;
    margin-left: 0.4em;
}
</style>
<body>
    <h1 class="obshi"><div style="margin-top:-5%;">403<br>Häzirki wagtda size bu salga rugsat berilmeýär.</div><a class="btn btn-success" href="{% url 'diplom' %}">Yza</a></h1>
</body>
</html>