{% load static %}
{% load custom_tags %}
{% for i in dinleyjiler %}
<tr>
  <td scope="row">{{forloop.counter}}</td>
  <td scope="row">{{i.at}}</td>
  <td scope="row">{{i.kurs}}</td>

  <td scope="row">{{i.gelen_wagty|get_item:date}}
      {% if i.gelen_wagty|get_item:date <= i.okuw_bashlayar %}
          <img style="margin-left:1% ;" src="{% static 'brand/checkedd.png' %}" width="15">
      {% elif i.gelen_wagty|get_item:date > i.okuw_bashlayar %}
          <img style="margin-left:1% ;" src="{% static 'brand/gm.png' %}" width="13">
      {% endif %}</td>

  <td scope="row">{{i.giden_wagty|get_item:date}}
      {% if i.giden_wagty|get_item:date >= i.okuw_gutaryar %}
          <img style="margin-left:1% ;" src="{% static 'brand/checkedd.png' %}" width="15">
      {% elif i.giden_wagty|get_item:date < i.okuw_gutaryar %}
          <img style="margin-left:1% ;" src="{% static 'brand/gm.png' %}" width="13">
      {% endif %}</td>
</tr>
{% endfor %}

<script type="text/javascript">
    $(document).ready(function(){
      $('#My_table').DataTable({
        retrieve: true,
      });
    });
</script>