{% load static %}
{% load custom_tags %}
{% for i in gija_galanlar %}
{% if i.gelen_wagty|get_item:date >= i.is_bashlayar %}
<tr>
  <td scope="row">{{forloop.counter}}</td>
  <td scope="row">{{i.at}}</td>
  <td scope="row">{{i.wezipe}}</td>
  <td scope="row">{{i.gelen_wagty|get_item:date}}</td>
  <td scope="row">{{i.giden_wagty|get_item:date}}
    {% if i.giden_wagty|get_item:date >= i.is_gutaryar and i.giden_wagty|get_item:date is not None %}
        <img style="margin-left:1% ;" src="{% static 'brand/checkedd.png' %}" width="15">
    {% elif i.giden_wagty|get_item:date < i.is_gutaryar and i.giden_wagty|get_item:date is not None %}
        <img style="margin-left:1% ;" src="{% static 'brand/gm.png' %}" width="13">
    {% endif %}</td>
</tr>
{% endif %}
{% endfor %}

<script type="text/javascript">
    $(document).ready(function(){
      $('#My_table').DataTable({
        retrieve: true,
      });
    });
</script>