{% load static %}
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content editboxes">
  <div class="modal-header">
    <h5 class="modal-title"><img src="{% static 'brand/editing.png' %}" style="width: 2vw;"><h6 style="font-family:bold;margin-left:5px;margin-top:2%;font-size:4vh">&nbsp&nbspTalyp maglumatyny üýtgetmek</h6></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>
  <div class="form-row" style="display:flex;margin-left:4%;width:23vw;margin-top:3%">
    <div class="col-md-12 mb-3">
      <label for="validationDefault01" style="color:#093936;font-family:bold">Ady</label>
      <input style="font-size:1.5vw;" type="text" class="form-control" value="{{movie.at}}" name="at" required>
    </div>
    <div class="col-md-12 mb-3" style="margin-left: 8%;">
      <label for="validationDefault01" style="color:#093936;font-family:bold">Talyp belgisi</label>
      <input style="font-size:1.5vw;" type="number" class="form-control" value="{{movie.ID_NO}}" name="ID_NO" required>
    </div>
  </div>
  <div class="form-row" style="display:flex;margin-left:4%;width:23vw">
    <div class="col-md-12 mb-3">
      <label for="exampleFormControlSelect1" style="color:#093936;font-family:bold">Topary</label>
      <select style="font-size:1.5vw" class="aa" id="exampleFormControlSelect1" name="topar">
        <option>{{movie.topar}}</option>
        {% for i in a6 %}
        <option>{{i.Topar_at}}</option>
        {% endfor %}
      </select>
    </div>
      <div class="col-md-12 mb-3" style="margin-left: 8%;">
      <label for="exampleFormControlSelect1" style="color:#093936;font-family:bold">Enjam belgisi</label>
      <select style="font-size:1.5vw" class="aa" id="exampleFormControlSelect1" name="device">
        <option>{{movie.device_id}}</option>
        {% for i in a96 %}
        <option>{{i.device_id}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit"style="background-color:#093936;color:white" class="btn btn-light">Save</button>
  </div>
</form>