{% if not user.is_authenticated %}
<script>window.location.replace("{% url 'loginuser' %}")</script>
{% elif user.is_authenticated %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'dist/css/main.css' %}">
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/sidebars.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/my_responsive.css' %}" rel="stylesheet">
  </head>
  <body>
  <div class="flex-shrink-1 p-3 bg-white" style="margin-left:88vw;width: 12%;position:fixed; height:100%;border-left:1px solid lightgrey">
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
      {% if talyplar or toparlars %}
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed menufont" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Hasaba alyş
        </button>
        <div class="collapse menufont show" id="home-collapse">
      {% else %}
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed menufont" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          Hasaba alyş
        </button>
        <div class="collapse menufont" id="home-collapse">
      {% endif %}
           <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              {% if not talyplar %}
                <a href="{% url 'talyplar' %}" class="link-dark d-inline-flex text-decoration-none rounded">Talyplar</a>
              {% else %}
                <a class="link-dark d-inline-flex text-decoration-none rounded">Talyplar</a>
              {% endif%}
            </li>
            <li>
              {% if not toparlars %}
                <a href="{% url 'toparlar' %}" class="link-dark d-inline-flex text-decoration-none rounded">Toparlar</a></li>
              {% else %}
                <a class="link-dark d-inline-flex text-decoration-none rounded">Toparlar</a></li>
              {% endif %}
          </ul>
        </div>
      </li>
      <li class="mb-1">
        {% if r1 or w1 or g1 or g2 or i or ok %}
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed menufont" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
          Gatnaşyk
        </button>
        <div class="collapse menufont show" id="dashboard-collapse">
        {% else %}
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed menufont" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Gatnaşyk
        </button>
        <div class="collapse menufont" id="dashboard-collapse">
        {% endif %}
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>{% if w1 %}<a class="link-dark d-inline-flex text-decoration-none rounded">Wagtynda gelenler</a>{% else %}<a href="{% url 'wagtynda_gelenler' %}" class="link-dark d-inline-flex text-decoration-none rounded">Wagtynda gelenler</a>{% endif %}</li>
            <li>{% if g1 %}<a class="link-dark d-inline-flex text-decoration-none rounded">Gijä galanlar</a>{% else %}<a href="{% url 'gija_galanlar' %}" class="link-dark d-inline-flex text-decoration-none rounded">Gijä galanlar</a>{% endif %}</li>
            <li>{% if g2 %}<a class="link-dark d-inline-flex text-decoration-none rounded">Gelmedikler</a>{% else %}<a href="{% url 'gelmedikler' %}" class="link-dark d-inline-flex text-decoration-none rounded">Gelmedikler</a>{% endif %}</li>
          </ul>
        </div>
      </li>
    </ul>
    </div>
    <script src="{% static 'dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dist/js/htmx.min.js' %}"></script>
    <script src="{% static 'dist/js/dialog.js' %}"></script>
    <script src="{% static 'dist/js/toast.js' %}"></script>
    <script src="{% static 'dist/js/jquery.min.js' %}"></script>
    <script src="{% static 'dist/js/jquery.DataTables.min.js' %}"></script>
  </body>
</html>
{% endif %}